html,
body {
  padding: 0;
  margin: 0;
  background-color: #f6f7f8 !important;
}

a {
  color: inherit !important;
  text-decoration: none !important;
}

* {
  box-sizing: border-box;
}

// overriding bootstrap's container width
.container {
  max-width: 1120px !important;
}

.btn-primary {
  background-color: #612fff !important;
  border-radius: 7px !important;
  color: white !important;
}

.text-purple {
  color: #612fff !important;
}

.btn,
.btn:focus,
.btn:hover {
  box-shadow: none !important;
  border-width: 0px !important;
}
